{% extends "publicNav.html" %}
{% block title %}<title>操纵详情</title>{% endblock %}

{% block my_css %}
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap-table.min.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/public_nav.css"> -->
    <!--<link rel="stylesheet" href="/static/css/lie.css">-->
    <link rel="stylesheet" href="/static/css/set.css">
    <style>
        <!---->
        /* #nav .nav_left h3 {color: #333!important;} */
        #nav .nav_middle .main_li:nth-of-type(5) {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }
        /*#nav .nav_middle .main_li:nth-of-type(5) a, #nav .nav_middle .main_li:nth-of-type(5) a i{*/
            /*color: #08F !important;*/
        /*}*/
        .s1 {color: #08F!important;}
        .s2 {color: #ff9645!important;}
        #nav {background: #fff;box-shadow: 0 2px 5px rgba(41,46,51,0.15);color: #0e0e0e;}
        #nav .nav_middle .main_li .li_a,#nav .nav_right span {color: #0e0e0e;}
        #nav .nav_middle .main_li .line {background-color: #08F;}
        #nav .nav_right span {border: 1px solid #787878;}
        #nav .nav_middle, #nav .nav_right {display: block;}
        #nav .nav_right span:hover {
            background: #2ad1ff !important;
            color: white!important;
        }
        <!---->
        .riskValueTable .fixed-table-toolbar .search,.publicityTable .fixed-table-toolbar .search {
            display: none;
        }
        .riskValueTable .bootstrap-table .table thead>tr>th,.publicityTable .bootstrap-table .table thead>tr>th{
            width: 5%;
        }
        /**/
        .fixed-table-container thead th .sortable {
            padding-right: 20px; }
        .fixed-table-toolbar .search {width: 100%;}
        .fixed-table-toolbar .search input {text-align: center;background: transparent;}
        .bootstrap-table .table>thead>tr>th {width: 5%;}
        .bootstrap-table #Bulletin_content.table>thead>tr>th:nth-of-type(2) {width: 15%}
        .bootstrap-table #Bulletin_content.table>thead>tr>th:nth-of-type(3) {width: 80%}
        .bootstrap-table #Bulletin_content.table>thead>tr>th:nth-of-type(1),
        .bootstrap-table #Bulletin_content.table>thead>tr>th:nth-of-type(4) {
            width: 1%;
        }
        .bootstrap-table #opinion.table>thead>tr>th:nth-of-type(1),
        .bootstrap-table #opinion.table>thead>tr>th:nth-of-type(3){width: 15%}
        .bootstrap-table #opinion.table>thead>tr>th:nth-of-type(2),
        .bootstrap-table #opinion.table>thead>tr>th:nth-of-type(5) {width:3%}
        .bootstrap-table #opinion.table>thead>tr>th:nth-of-type(4) {width: 70%}
    </style>
{% endblock %}

{% block main %}
    <div id="container">
        <div style="text-align: right;">
            <!-- <span class="top-1 btn btn-primary">一键取证</span> -->
            <span class="top btn btn-primary">一键报告</span>
        </div>
        <div style="text-align: center; margin-bottom:20px;">
            <span style="font-size: 36px;">“<span id="title-1"></span>”操纵预警报告</span>
        </div>
        <!-- 基本信息 -->
        <div id="card">
            <div class="infor">
                <p class="infor-1 inforLine">
                    <span>公司名称：</span>&nbsp;<b class="type-1">加载中...</b>
                </p>
                <p class="infor-2 inforLine">
                    <span>注册地址：</span>&nbsp;<b class="type-2">加载中...</b>
                </p>
                <p class="infor-3 inforLine">
                    <span>成立时间：</span>&nbsp;<b class="type-3">加载中...</b>
                </p>
                <p class="infor-4 inforLine">
                    <span>所属行业：</span>&nbsp;<b class="type-4">加载中...</b>
                </p>
                <p class="infor-5 inforLine">
                    <span>注册资本：</span>&nbsp;<b class="type-5">加载中...</b>
                </p>
                <p class="infor-6 inforLine">
                    <span>法人：</span>&nbsp;<b class="type-6">加载中...</b>
                </p>
                <p class="infor-7 inforLine">
                    <span>公司属性：</span>&nbsp;<b class="type-7">加载中...</b>
                </p>
                <p class="infor-8 inforLine">
                    <span>所属板块：</span>&nbsp;<b class="type-8">加载中...</b>
                </p>
            </div>
        </div>
        <!-- 操纵详情 -->
        <div id="Manipulating_details" style="margin:0.02rem 0">
            <!-- <center class="load">正在努力加载中...</center> -->
            <div id="Manipulating_details_content">
                <center class="loading">正在加载中...</center>
            </div>
        </div>

        <!-- 虚假消息 -->
        <div id="False_message" class="main_content">
            <h3 style="margin-bottom: 0.1rem;"><i class="icon icon-certificate"></i>&nbsp;虚假消息</h3>
            <p class="False_content">【鲸快讯：万科将参与雄安新区6.5平方公里项目建设】7月11日讯，近日，万科已与雄安新区筹备工作委员会签署协议，协议中包含一个“新安小镇”计划。该小镇作为雄安新区落地的第一个大项目，致力于打造功能性创新型小镇新样板，将由万科联手深圳投资控股有限公司、中国节能环保集团公司共同投资建设，先期规划占地6.5平方公里。(网易房产)</p>
        </div>
        <!--舆情分析-->
        <div id="Public_opinion" class="main_content" style="margin-top: 0.02rem;">
            <h3 style="margin-bottom: 0.1rem;"><i class="icon icon-bullhorn"></i>&nbsp;舆情分析</h3>
            <div class="opinion">
                <div id="opinion"></div>
            </div>
        </div>

        <!-- 价格与收益率 -->
        <div id="Price">
            <h3><i class="icon icon-signin"></i>&nbsp;价格与收益率</h3>
            <!-- <select class="_time">
                <option value="7">近一周</option>
                <option value="30">近一个月</option>
                <option value="90">近三个月</option>
                <option value="90">近半年</option>
                <option value="365">近一年</option>
            </select> -->
            <div class="clearfix">
                <div id="Price_1" class="half" style="margin-right:2%;"></div>
                <div id="Price_2" class="half"></div>
            </div>
        </div>
        <!-- 公告信息 -->
        <div id="Bulletin_information" style="margin:0.02rem 0">
            <h3><i class="icon icon-comments-alt"></i>&nbsp;公告信息</h3>
            <div class="Bulletin_content">
                <div id="Bulletin_content">
                    <center class="loading">正在加载中...</center>
                </div>
            </div>
        </div>
        <!-- 交易分析 -->
        <div id="Transaction_analysis" class="main_content">
            <h3><i class="icon icon-random"></i>&nbsp;交易分析</h3>
            <div class="anaDown">
                <!-- <b>万科前十大股东</b> -->
                <b class="stock-name">万科</b><b>前十大股东</b>
                <select class="_time2">
                    <!-- <option value="1">2017年第一季度</option>
                    <option value="2">2017年第二季度</option>
                    <option value="3">2017年第三季度</option> -->
                </select>
            </div>
            <div class="Transaction-1">
                <div id="Transaction-1">
                    <center class="loading">正在加载中...</center>
                </div>
            </div>
            <div class="anaDown">
                <!-- <b>万科大宗交易</b> -->
                <b class="stock-name">万科</b><b>大宗交易</b>
            </div>
            <div class="Transaction-2">
                <div id="Transaction-2">
                    <center class="loading">正在加载中...</center>
                </div>
            </div>
        </div>
        <!-- 股权分析 -->
        <div id="Stock" class="main_content" style="margin:0.02rem 0">
            <h3><i class="icon icon-list-alt"></i>&nbsp;股权分析</h3>
            <div class="clearfix">
                <div id="Stock_1" class="half" style="margin-right:2%;">

                </div>
                <div id="Stock_2" class="half"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block my_js %}
    <!-- <script src="/static/js/bootstrap.min.js"></script> -->
    <!-- <script src="/static/js/bootstrap-table.min.js"></script> -->
    <!-- <script src="/static/js/bootstrap-table-zh-CN.min.js"></script> -->
    <!-- <script src="/static/echarts/echarts.min.js"></script> -->
    <script src="/static/js/chalk.js"></script>

    <script>
        var stock = '{{stock}}';
        $('#title-1').text(unescape(stock));
        stock = unescape(stock);
        $('b.stock-name').text(stock)
        var id = '{{id}}';
        console.log(id);

        $('#nav .nav_middle .main_li .li_a').on('mouseover',function () {
            $(this).siblings('.line').css({left:'0%'});
            if ($(document).scrollTop()!=0){
                $(this).css({color:'#ff9645'});
                $(this).find('i').css({color:'#ff9645'});
            }else {
                $(this).css({color:'#08F'});
                $(this).find('i').css({color:'#08F'});
            }
        }).on('mouseout',function () {
            $(this).siblings('.line').css({left:'-100%'});
            if ($(document).scrollTop()!=0){
                $(this).css({color:'#fff'});
                $(this).find('i').css({color:'#fff'});
            }else {
                $(this).css({color:'#000'});
                $(this).find('i').css({color:'#000'});
            }
        });
        $('#nav .nav_left img').attr('src','/static/images/logoDetail.png');
        $('#nav .nav_left h3').css({color:'#333'});
        $('#nav .nav_middle .main_li .li_a').eq(4).addClass('s1');
        $('#nav .nav_middle .main_li .li_a').eq(4).find('i').addClass('s1');
        window.onscroll=function () {
            $('#nav').css({backgroundColor:'#777'});
            $('#nav .nav_left h3').css({color:'white'});
            $('#nav .nav_left img').attr('src','/static/images/logo.png');
            $('#nav .nav_middle .main_li .line').css({backgroundColor:'#ff9645'});
            $('#nav .nav_middle .main_li .li_a').css({color:'white'});
            $('#nav .nav_middle .main_li .li_a i').css({color:'white'});
            $('#nav .nav_middle .main_li .li_a').eq(4).removeClass('s1').addClass('s2');
            $('#nav .nav_middle .main_li .li_a').eq(4).find('i').removeClass('s1').addClass('s2');
            $('#nav .nav_right span').css({color:'#fff',background:'#35baee'});
            if ($(document).scrollTop()==0){
                $('#nav').css({backgroundColor:'#fff'});
                $('#nav .nav_left h3').css({color:'black'});
                $('#nav .nav_left img').attr('src','/static/images/logoDetail.png');
                $('#nav .nav_middle .main_li .line').css({backgroundColor:'#08F'});
                $('#nav .nav_middle .main_li .li_a').css({color:'black'});
                $('#nav .nav_middle .main_li .li_a i').css({color:'black'});
                // $('#nav .nav_right span').css({color:'#0e0e0e',background:'white'});
                $('#nav .nav_middle .main_li .li_a').eq(4).removeClass('s2').addClass('s1');
                $('#nav .nav_middle .main_li .li_a').eq(4).find('i').removeClass('s2').addClass('s1');
                $('#nav .nav_right span').css({color:'#0e0e0e',background:'white'});
            }
        };

    </script>
    <script src="/static/js/set.js"></script>
{% endblock %}