#container {
    padding: 1.2rem 0 0.5rem;
    position: relative;
    z-index: 999;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    background: transparent!important;
}
#container #card {
    padding: 0.2rem;
    font-size: 0.14rem;
    background: rgba(245, 243, 243, 0.71);
}
/* lvlei_1-11 */
.main_content {
    padding: 0.2rem;
    font-size: 0.14rem;
    background: rgba(245, 243, 243, 0.71);
}
/* 基本信息 */
#container .infor .inforLine {
    display: inline-block;
    max-width: 24%;
    min-width: 24%;
    margin-right: 0.5%;
}
#container .infor .inforLine b {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 1.8rem;
    max-width: 60%;
    text-align: left;
    position: relative;
    top: 0.05rem;
}
#container .infor p {
    font-size: 0.14rem;
    margin: 0.08rem 0;
    text-align: left;
}
#container .infor p span {
    display: inline-block;
    width: 30%;
    text-align: right;
}
/* 操纵详情 */
#container #Manipulating_details {
    padding: 0.2rem;
    font-size: 0.14rem;
    background: rgba(245, 243, 243, 0.71);
}
/*#container #Manipulating_details p{*/
    /*margin:.07114602rem!* 10px *!;*/
/*}*/
/*#container #Manipulating_details p span {*/
    /*display: inline-block;*/
    /*width: 19%;*/
    /*text-align: center;*/
/*}*/
/* 价格与收益率 */
#container #Price {
    padding: 0.2rem;
    font-size: 0.14rem;
    background: rgba(245, 243, 243, 0.71);
}
#Price h3 {
    display:inline-block;
    margin-right:.14229204rem/* 20px */;
    vertical-align:top;
}
/* 时间框 */
#Price ._time{
    display: inline-block;
    /* padding: 3px 7px; */
    border: 1px solid silver;
    border-radius: 5px;
    background: transparent;
    /* color: white; */
}
.half {
    width:49%;
    height:4rem;
    float:left;
    margin-top: 0.2rem;
}
/* 公告信息 */
#Bulletin_information {
    padding: 0.2rem;
    font-size: 0.14rem;
    background: rgba(245, 243, 243, 0.71);
}
/* 交易分析 */
#Transaction_analysis ._time2{
    float: right;
    border: 1px solid silver;
    border-radius: 5px;
    background: transparent;
}
#Transaction_analysis .anaDown {
    overflow: hidden;
    padding: 0.1rem;
}
#Transaction_analysis .anaDown b {
    font-weight: 900;
    font-size: 0.18rem;
}
/* 股权分析 */

/* 虚假消息 */
.False_content{
    text-indent:0.2rem;
}

/* lvlei_1-11 */
/* 操纵详情 历史记录 高亮显示 */
#Manipulating_details_content .this-stock {
    color:#ff6d70;
}
/* 表格 分页步进值隐藏 */
.Manipulating_details_content .page-list ,
.Bulletin_content .page-list ,
.Transaction-1 .page-list ,
.Transaction-2 .page-list ,
.opinion .page-list
{
    display:none;
}

.fixed-table-container{
    border-bottom: none;
}
/* 表格表头上边框 */
.Manipulating_details_content thead tr th ,
.Bulletin_content thead tr th ,
.Transaction-1 thead tr th ,
.Transaction-2 thead tr th ,
.opinion thead tr th
{
    border-top:none;
}
