{% extends "publicNav.html" %}
{% block title %}<title>操纵监测</title>{% endblock %}
{% block my_css %}
    <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/bootstrap-table.min.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../static/css/jquery.fullPage.css">
    <!-- <link rel="stylesheet" href="../static/css/public_nav.css"> -->
    <link rel="stylesheet" href="../static/css/modalANDtable.css">
    <link rel="stylesheet" href="../static/css/manipulate.css">
    <style>
        #nav .nav_middle .main_li:nth-of-type(3) {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }
        #nav .nav_middle .main_li:nth-of-type(3) a, #nav .nav_middle .main_li:nth-of-type(3) a i{
            color: #ffbf1d !important;
        }
        #fullPage-nav li .active span, .fullPage-slidesNav .active span {background: transparent;}
        #fullPage-nav span, .fullPage-slidesNav span {
            width: 10px;
            height: 10px;
            border: 1px solid #fcf8e3;
        }
        #fullPage-nav li .active span, .fullPage-slidesNav .active span {
            background: #dff0d8;
        }
        #fullPage-nav li, .fullPage-slidesNav li {margin: 12px 7px;}
        /* .recordingTable .fixed-table-toolbar, */
        .recordingTable .fixed-table-pagination .page-list,
        .placeRank .fixed-table-toolbar,.placeRank .fixed-table-pagination .page-list {
            display: none;
        }
        /*#nav {background: rgba(60, 118, 130, 0.52)}*/
        #nav {background: rgba(18, 146, 175, 0.52);}
        #nav .nav_middle, #nav .nav_right {display: block;}
        /*======*/
        .loading {
            color:#fff;
            text-align:center;
        }
        /* 显示搜索框 */
        .recordingTable .fixed-table-toolbar{
            display:block;
        }
        .recordingTable .fixed-table-toolbar .search {
            width:20%;
            position:absolute;
            top:14px;
            right:100px;
            margin:0;
        }
        .recordingTable .fixed-table-toolbar .search input{
            height:30px;
            padding: 3px 6px;
            background: transparent;
            border: 1px solid silver;
            border-radius: 5px;
            text-align: center;
            font-size: 14px;
            vertical-align: middle;
        }
        .recordingTable .fixed-table-toolbar .search input:focus{
            background: #f8f8f8;
            color: #3c3c3c;
        }
    </style>
{% endblock %}

{% block main %}

    <div id="container" class="fullpage">
        <div class="section firstScreen" style="padding-top: 1rem;">
            <div class="topTitle" style="margin: 0.1rem auto;">
                <dl>
                    <dd>本周预警数</dd>
                    <dt class="com-1">加载中...</dt>
                </dl>
                <dl>
                    <dd>本月预警数</dd>
                    <dt class="com-2">加载中...</dt>
                </dl>
                <dl>
                    <dd>本季度预警数</dd>
                    <dt class="com-3">加载中...</dt>
                </dl>
            </div>

            <div style="position:relative;">

                <div style="color: white;font-weight:700;font-size:0.24rem;position: relative;">
                    <h3 style="color: white;display: inline-block;"><i class="icon icon-eye-open"></i>&nbsp;疑似操纵预警</h3>
                    <div class="search">
                        <!-- <input size="30" type="text" placeholder="请输入查询内容" class="searchWord"/> -->
                        <button type="button" class="btn btn-primary btn-sm moreSitu" title="显示更多筛选条件"><i class="icon icon-plus"></i></button>
                        <button type="button" class="btn btn-primary btn-sm">确定</button>
                    </div>
                </div>
                <div class="content" style="display: none;margin:5px 0 0 40px;">
                    <div class="content-1 conLeft" style="margin-top:20px;">
                        <span class="ct-tit">预警时间：</span>
                        <select id="select-1" class="selectLab">
                            <option value="1">近一天</option>
                            <option value="7" selected>近一周</option>
                            <option value="30">近一个月</option>
                            <option value="90">近三个月</option>
                            <option value="365">近一年</option>
                        </select>
                    </div>
                    <div class="content-2 conLeft">
                        <span class="ct-tit">运营模式：</span>
                        <select id="select-2" class="selectLab">
                            <option value="0" >全部</option>
                            <!-- <option value="P2P理财">P2P理财</option>
                            <option value="投资项目">投资项目</option>
                            <option value="游戏">游戏</option>
                            <option value="任务奖励">任务奖励</option>
                            <option value="股权私募基金">股权私募基金</option> -->
                        </select>
                    </div>
                    <div class="content-3 conLeft">
                        <span class="ct-tit">预警类型：</span>
                        <select id="select-3" class="selectLab">
                            <option value="0" selected>全部</option>
                            <!-- <option value="舆情预警">舆情预警</option> -->
                            <!-- 改为动态生成的 -->
                            <!-- <option value="模型预警">模型预警</option>
                            <option value="指标预警">指标预警</option> -->
                        </select>
                    </div>
                    <div class="content-4 conLeft">
                        <span class="ct-tit">相关问题：</span>
                        <select id="select-5" class="selectLab">
                            <option value="all" selected>全部</option>
                            <!-- <option value="舆情预警">舆情预警</option> -->
                            <!-- 改为动态生成的 -->
                            <!-- <option value="模型预警">模型预警</option>
                            <option value="指标预警">指标预警</option> -->
                        </select>
                    </div>
                    <div class="content-4 conLeft">
                        <span class="ct-tit">实体类型：</span>
                        <select id="select-4" class="selectLab">
                            <option value="0" selected>全部</option>
                            <option value="1">平台</option>
                            <option value="2">公司</option>
                            <option value="3">项目</option>
                        </select>
                    </div>
                    <div class="content-5 conLeft">
                        <span style="display: inline-block;" class="ct-tit">预警分布：</span>
                        <select id="city34" class="selectLab">
                            <option value="all" selected>全部</option>
                            <option value='北京'>北京</option>
                            <option value='天津'>天津</option>
                            <option value='安徽'>安徽</option>
                            <option value='澳门'>澳门</option>
                            <option value='福建'>福建</option>
                            <option value='甘肃'>甘肃</option>
                            <option value='广东'>广东</option>
                            <option value='广西'>广西</option>
                            <option value='贵州'>贵州</option>
                            <option value='海南'>海南</option>
                            <option value='河北'>河北</option>
                            <option value='河南'>河南</option>
                            <option value='黑龙江'>黑龙江</option>
                            <option value='湖北'>湖北</option>
                            <option value='湖南'>湖南</option>
                            <option value='吉林'>吉林</option>
                            <option value='江苏'>江苏</option>
                            <option value='江西'>江西</option>
                            <option value='辽宁'>辽宁</option>
                            <option value='内蒙古'>内蒙古</option>
                            <option value='青海'>青海</option>
                            <option value='山东'>山东</option>
                            <option value='山西'>山西</option>
                            <option value='陕西'>陕西</option>
                            <option value='上海'>上海</option>
                            <option value='四川'>四川</option>
                            <option value='台湾'>台湾</option>
                            <option value='西藏'>西藏</option>
                            <option value='香港'>香港</option>
                            <option value='新疆'>新疆</option>
                            <option value='云南'>云南</option>
                            <option value='浙江'>浙江</option>
                            <option value='重庆'>重庆</option>
                            <option value='宁夏'>宁夏</option>
                        </select>
                    </div>
                </div>
                <div class="recordingTable" style="margin-top: 0.1rem;">
                    <div id="recordingTable"></div>
                </div>
            </div>
        </div>

        <div class="section secondScreen" style="overflow:hidden;">
            <div style="color: white;font-size: 0.24rem;position: relative;">
                <h3 style="color: white;display: inline-block;font-weight:700;"><i class="icon icon-dashboard"></i>&nbsp;预警态势</h3>
                <div class="trendOpt">
                    <span class="ct-tit">呈现方式：</span>
                    <select id="second_select_1">
                        <option value="7">按周</option>
                        <option value="30">按月</option>
                        <option value="90">按季度</option>
                    </select>
                </div>
            </div>
            <div id="trendLine" style="width:100%;height: 4.5rem;margin-top: 0.3rem;"></div>
        </div>

        <div class="section thirdScreen" style="overflow: hidden;">
            <div style="color: white;font-size: 0.24rem;position: relative;">
                <h3 style="color: white;display: inline-block;font-weight:700;"><i class="icon icon-dashboard"></i>&nbsp;操纵影响</h3>
                <div class="influeOpt">
                    <span class="ct-tit">呈现方式：</span>
                    <select id="third_select_1">
                        <option value="7">按周</option>
                        <option value="30">按月</option>
                        <option value="90">按季度</option>
                    </select>
                </div>
            </div>
            <div id="influnce" style="width:100%;height: 4.5rem;margin-top: 0.3rem;"></div>
        </div>

        <div class="section fourScreen" style="overflow: hidden;">
            <h3 style="color: white;text-align: left;"><i class="icon icon-stethoscope"></i>&nbsp;行业分布</h3>
            <div class="barContent" style="width:100%;margin-top:0.4rem;">
                <div id="bar-1" style="width:65%;height: 4.5rem;"></div>
                <div id="bar-2" style="width:33%;">
                    <h4 style="color: white;display: inline-block;"><i class="icon icon-bar-chart"></i>&nbsp;行业排行</h4>
                    <select id="four_select">
                        <option value="7">最近一周</option>
                        <option value="30">最近一个月</option>
                        <option value="90">最近三个月</option>
                    </select>
                    <table class="barRank" cellpadding="0" cellspacing="0">
                        <thead><th>行业</th><th>预警</th></thead>
                        <tbody>
                            <!-- <tr><td>批发</td><td>25</td></tr>
                            <tr><td>材料</td><td>20</td></tr>
                            <tr><td>运输设备</td><td>18</td></tr>
                            <tr><td>建筑</td><td>15</td></tr>
                            <tr><td>旅游酒店</td><td>15</td></tr> -->
                            <tr><td class="loading" style="width:100%;" colspan="2" rowspan="" headers="">正在加载中...</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="section fiveScreen">
            <h3 style="color: white;text-align: left;"><i class="icon icon-cogs"></i>&nbsp;操纵类型</h3>
            <div class="pieContent" style="width:100%;margin-top:0.4rem;">
                <div id="pie-1" style="width:65%;height: 4.5rem;"></div>
                <div id="pie-2" style="width:33%;">
                    <h4 style="color: white;display: inline-block;"><i class="icon icon-bar-chart"></i>&nbsp;操纵类型分布</h4>
                    <select id="five_select">
                        <option value="7">最近一周</option>
                        <option value="30">最近一个月</option>
                        <option value="90">最近三个月</option>
                    </select>
                    <table class="pieRank pieRank_1" cellpadding="0" cellspacing="0">
                        <!--<div id="barRank"></div>-->
                        <thead>
                            <th>类别</th>
                            <th>预警</th>
                        </thead>
                        <tbody>
                            <!-- <tr><td>高送转</td><td>324</td></tr>
                            <tr><td>定向增发</td><td>252</td></tr>
                            <tr><td>伪市值管理</td><td>431</td></tr>
                            <tr><td>散布信息牟利</td><td>123</td></tr>
                            <tr><td>其他</td><td>231</td></tr> -->
                            <tr><td class="loading" style="width:100%;" colspan="2" rowspan="" headers="">正在加载中...</td></tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="section sixScreen" style="overflow: hidden;">
            <h3 style="color: white;text-align: left;"><i class="icon icon-building"></i>&nbsp;市值分布</h3>
            <div class="pieContent" style="width:100%;margin-top:0.4rem;">
                <div id="pie-3" style="width:65%;height: 4.5rem;"></div>
                <div id="pie-4" style="width:33%;">
                    <h4 style="color: white;display: inline-block;"><i class="icon icon-bar-chart"></i>&nbsp;操纵公司市值分布</h4>
                    <select id="six_select">
                        <option value="7">最近一周</option>
                        <option value="30">最近一个月</option>
                        <option value="90">最近三个月</option>
                    </select>
                    <table class="pieRank pieRank_2">
                        <!--<div id="barRank"></div>-->
                        <thead>
                            <th>类别</th>
                            <th>预警</th>
                        </thead>
                        <tbody>
                            <!-- <tr><td>主板</td><td>335</td></tr>
                            <tr><td>创业板</td><td>310</td></tr>
                            <tr><td>中小板</td><td>234</td></tr> -->
                            <tr><td class="loading" style="width:100%;" colspan="2" rowspan="" headers="">正在加载中...</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block my_js %}

    <script src="../static/js/publicNav.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/echarts/echarts.min.js"></script>
    <script src="../static/js/chalk.js"></script>
    <script src="../static/js/echarts-2/build/dist/echarts.js"></script>
    <script src="../static/js/jquery.fullPage.min.js"></script>
    <script src="../static/js/manipulate.js"></script>
    <script>
        <!---->
        $('.fullpage').fullpage({
            'verticalCentered': false,
            'css3': true,
            'anchors': ['page1', 'page2','page3','page4','page5','page6','page7'],
            'navigation': 'true',
            'loopBottom':'true',
            'navigationPosition': 'right',
            'fixedElements':'#nav',
            'navigationTooltips': ['疑似操纵预警','预警态势','操纵影响','行业分布','操纵类型','市值分布']
        });
    </script>

{% endblock %}