{% extends "publicNav.html" %}
{% block title %}<title>热点监测</title>{% endblock %}
{% block my_css %}

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../static/css/jquery.fullPage.css">-->
    <link rel="stylesheet" href="../static/css/public_nav.css">
    <link rel="stylesheet" href="../static/css/modalANDtable.css">
    <link rel="stylesheet" href="../static/css/hotSpot.css">

    <link rel="stylesheet" type="text/css" href="../static/css/jquery.eeyellow.Timeline.css" />

    <style>
        #nav .nav_middle .main_li:nth-of-type(4) {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }
        #nav .nav_middle .main_li:nth-of-type(4) a, #nav .nav_middle .main_li:nth-of-type(4) a i{
            color: #ffbf1d !important;
        }
        /*#fullPage-nav li .active span, .fullPage-slidesNav .active span {background: transparent;}*/
        /*#fullPage-nav span, .fullPage-slidesNav span {*/
        /*width: 10px;*/
        /*height: 10px;*/
        /*border: 1px solid #fcf8e3;*/
        /*}*/
        /*#fullPage-nav li .active span, .fullPage-slidesNav .active span {*/
        /*background: #dff0d8;*/
        /*}*/
        /*#fullPage-nav li, .fullPage-slidesNav li {margin: 12px 7px;}*/
        .recordingTable .fixed-table-toolbar,.recordingTable .fixed-table-pagination .page-list,
        .placeRank .fixed-table-toolbar,.placeRank .fixed-table-pagination .page-list {
            display: none;
        }
        /*#nav {background: rgba(60, 118, 130, 0.52)}*/
        #nav {background: rgba(18, 146, 175, 0.52)}
        #nav .nav_middle, #nav .nav_right {display: block;}
        #spread-1 .fixed-table-toolbar .search {width: 100%;}
        /*======*/


        /* LLL */
        #spread-pie-3 {
            height:3rem;
        }

        .semantics {
            min-height:3rem;
        }
        .semantics .semanticsbox {
            width:50%;
            height:100%;
            float:left;
        }

        #hotspotTable p.loading {
            text-align:center;
            color:#fff;
        }
    </style>
{% endblock %}

{% block main %}
    <div id="container">



        <div class="content">

            <div class="hotspotTable" style="margin-top: 0.1rem;font-size: 0.14rem!important;">
                <div id="hotspotTable">
                    <p class="loading">正在加载中...</p>
                </div>
            </div>


            <!-- <div class="tableContent">
                <div id="tableContent"></div>
            </div>
            <div class="analysis">
                <h3 style="color: white;display: inline-block;font-weight:700;"><i class="icon icon-random"></i>&nbsp;演化分析</h3>
                <div class="lieOpt">
                    <select id="five_select">
                        <option value="知乎">知乎</option>
                        <option value="贴吧">贴吧</option>
                        <option value="论坛">论坛</option>
                    </select>
                </div>
                <div id="analysis" style="width: 100%;height: 3rem;"></div>
            </div>
            <div class="spread">
                <h3 style="color: white;display: inline-block;font-weight:700;"><i class="icon icon-asterisk"></i>&nbsp;传播分析</h3>
                <div class="fishBone" id="spread-pie-3">
                    <a class="prev"></a>
                    <a class="next"></a>
                    <div class="line"></div>
                    <div class="fish_box"></div>
                </div>
            </div> -->

            <!-- 时间轴 -->
            <!-- <div class="semantics clearfix">
                <h3 style="color: white;font-weight:700;"><i class="icon icon-comments-alt"></i>&nbsp;语义分析</h3>
                <div class="semanticsbox" id="word-cloud" style="height:3rem;">
                </div>

                <div class="semanticsbox" id="timebox">
                    <div class="VivaTimeline">
                        <dl>
                            <dt>May 2016</dt>
                            <dd class="pos-left clearfix">
                                <div class="circ"></div>
                                <div class="time">Feb 03</div>
                                <div class="events">
                                    <div class="events-header">Event Heading（点击标题收起）</div>
                                    <div class="events-body">
                                        <div class="row">
                                            <div class="col-md-6 pull-left">
                                                <img class="events-object img-responsive img-rounded" src="/static/images/VivaTimeline/dog01.jpeg" />
                                            </div>
                                            <div class="events-desc">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pull-left">
                                                <img class="events-object img-responsive img-rounded" src="/static/images/VivaTimeline/dog02.jpeg" />
                                            </div>
                                            <div class="events-desc">
                                                Morbi at nisi vitae mauris pretium egestas. Morbi placerat risus ligula, nec placerat urna porta vel. Nullam sollicitudin orci quis odio eleifend, ut facilisis orci lobortis. Vivamus sed lobortis odio. Nam volutpat, leo a ullamcorper luctus, sapien libero auctor est, sed semper massa turpis sed quam. Mauris posuere, libero in ultricies dignissim, lacus purus egestas urna, nec semper lorem tellus non eros. Nam at bibendum libero. Curabitur a ante et orci cursus tincidunt. Vivamus dictum, libero et rhoncus congue, nulla erat mollis dui, vitae cursus dui justo quis velit. In a tellus arcu. Nam at lobortis nisl. Donec consequat placerat eros, quis elementum mauris sodales a. Maecenas id feugiat velit. Phasellus dictum eleifend varius. Cras nec orci turpis. Aenean ut turpis nibh.
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pull-left">
                                                <img class="events-object img-responsive img-rounded" src="/static/images/VivaTimeline/dog03.jpeg" />
                                            </div>
                                            <div class="events-desc">
                                                Cras condimentum, metus ut vehicula euismod, odio massa pulvinar neque, id gravida neque est et sem. Proin consequat id nibh quis molestie. Quisque vehicula purus id purus elementum facilisis. Phasellus sodales nibh quis neque rhoncus aliquet. Nunc eget ipsum efficitur, pretium arcu et, gravida purus. Phasellus tempor lacus ac enim pulvinar elementum. Integer aliquet justo lacinia nunc tempus vulputate.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-footer">
                                        123
                                    </div>
                                </div>
                            </dd>
                            <dt>Feb 2016</dt>
                            <dd class="pos-right clearfix">
                                <div class="circ"></div>
                                <div class="time">Jan 21</div>
                                <div class="events">
                                    <div class="events-header">A Very Very Looooooooooooooooooooong Event Heading</div>
                                    <div class="events-body">
                                        <div class="row">
                                            <div class="col-md-6 pull-left">
                                                <img class="events-object img-responsive img-rounded" src="/static/images/VivaTimeline/cat01.jpeg" />
                                            </div>
                                            <div class="events-desc">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pull-left">
                                                <img class="events-object img-responsive img-rounded" src="/static/images/VivaTimeline/cat02.jpeg" />
                                            </div>
                                            <div class="events-desc">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pull-left">
                                                <img class="events-object img-responsive img-rounded" src="/static/images/VivaTimeline/cat03.jpeg" />
                                            </div>
                                            <div class="events-desc">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-footer">

                                    </div>
                                </div>
                            </dd>
                            <dd class="pos-left clearfix">
                                <div class="circ"></div>
                                <div class="time">Jan 07</div>
                                <div class="events">
                                    <div class="events-header">Event Heading</div>
                                    <div class="events-body">
                                        <div class="row">
                                            <div class="col-md-6 pull-left">
                                                <img class="events-object img-responsive img-rounded" src="/static/images/VivaTimeline/rabbit01.jpeg" />
                                            </div>
                                            <div class="events-desc">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                            <dt>Jan 2016</dt>
                            <dt>Dec 2015</dt>
                            <dt>Oct 2015</dt>
                            <dt>Sep 2015</dt>
                            <dt>Aug 2015</dt>
                        </dl>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
{% endblock %}

{% block my_js %}
    <script src="../static/js/publicNav.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/echarts/echarts.min.js"></script>
    <script src="../static/js/chalk.js"></script>
    <script src="../static/js/echarts-2/build/dist/echarts.js"></script>
    <!--<script src="../static/js/jquery.fullPage.min.js"></script>-->

    <!-- <script type="text/javascript" src="../static/js/jquery.eeyellow.Timeline.js"></script> 时间轴插件 -->

    <script>
        <!---->
        //    $('.fullpage').fullpage({
        //        'verticalCentered': false,
        //        'css3': true,
        //        'anchors': ['page1', 'page2','page3','page4','page5','page6','page7','page8'],
        //        'navigation': 'true',
        //        'loopBottom':'true',
        //        'navigationPosition': 'right',
        //        'fixedElements':'#nav',
        //        'navigationTooltips': ['疑似谣言预警','预警态势与波及范围','行业分布','发布者类型','十大造谣/传谣者','热点词','影响力与传播力']
        //    });


        $(document).ready(function () {

            // // 纵向时间轴
            // $('.VivaTimeline').vivaTimeline({
            //     carousel: true,
            //     carouselTime: 3000
            // });
            $('.content').css('min-height',$(window).height())
        });

    </script>

    <script src="../static/js/hotSpot.js"></script>


{% endblock %}